* {
  margin: 0;
}

/* header styles starts */
.heading {
  height: 100vh;
  background-image: linear-gradient(360deg, #121212 0%, #12121200 100%),
    url("./images/donation0.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-items {
  width: 50%;
  text-align: center;
  color: #ffffff;
}

.heading-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 65px;
}

.heading-description {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 20px 0 30px;
}

.heading-button {
  padding: 16px 20px;
  background-color: #ff5959;
  border-radius: 5px;
  border: 0;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
/* header styles ends */
